    <style type="text/css">
        #formRowContainer div:only-child{
            width:100% !important;
        }
        *{
            margin:0;
            padding:0;
            border:0;
            font-family: 'blender-pro-book';
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .row {
            margin-right: -15px;
            margin-left: -15px;
        }
        @font-face {
            font-family: 'blender-pro-book';
            src:
            url('https://storage.googleapis.com/appspot-cdn/assets/tmpl-11/blenderpro-book-webfont.ttf') format('truetype'),
            url('https://storage.googleapis.com/appspot-cdn/assets/tmpl-11/blenderpro-book-webfont.woff') format('woff'),
            url('https://storage.googleapis.com/appspot-cdn/assets/tmpl-11/blenderpro-book-webfont.svg') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        #header{
            border-bottom: 2px groove rgba(10,143,213, 0.65);
        }
        #header,#bottom {
            background-color: #000000;
            opacity: 0.75;
            height: 96px;
            position: relative;
            width:100%;
        }
        #bottom{
            background-color: rgba(0,0,0, 0.75);
            height: 103px;
            border-top: 2px groove rgba(256,256,256, 0.65);
            position:absolute;
            bottom:0;
        }
        @media screen and (max-height: 720px) {
            #bottom {
                display: none;
            }
        }
        #box{
            margin:150px auto 0;
            width:100%;
            max-width: 750px;
        }
        #boxHeader{
            color: #fff;
            background-color: rgba(255,255,255,0.85);
            border-color: #ddd;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            text-align: left;
        }
        #boxHeader div{
            font-size: 30px;
            color: #000;
            font-weight:500;
            line-height:33px;
        }
        #boxContent{
            font-size: 20px;
            color:#fff;
            background-color:rgba(0, 0, 0, 0.74902);
            padding: 15px;
            padding-bottom: 30px;
        }
        body{
            background:url('https://zwidgetymz56r.xyz/images/pages/17128') no-repeat center center fixed;
            -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            background-size: 100% 100%;
        }
        #overlay{
            background:black;
            height:100%;
            width:100%;
            position: absolute;
            top:0;
            left:0;
            opacity:0.25;
            z-index:1;
            min-height:600px;
        }
        #content{
            z-index:2;
            position: absolute;
            margin: 0 auto;
            text-align: center;
            left: 0;
            right: 0;
        }
        #logo{
            z-index:2;
            position: absolute;
            margin: 0 auto;
            text-align: center;
            left: 0;
            right: 0;
            top: 22px;
        }
        #logo img{
            height:130px;
        }
        .form-text{
            font-size: 18px;
        }
        .btn-secondary {
            color: #373a3c;
            border-color: #ccc;
        }
        .centerButton{
            text-align: center;
            margin-top:80px;
        }
        #step2Button,#step3Button{
            font-size: 16px;
        }
        #step2Button .fa{
            position: relative;
            top: 1px;
        }
        .instructions{
            margin-bottom: 35px;
        }
        .input-group{
            margin-bottom:10px;
        }
        .input-group-addon img{
            width:20px;height:20px;
        }
        .console{
            height:250px;
            overflow-y: auto;
            color:white;
            text-align: left;
            font-size:14px;
        }
        .newConsoleMsg{
            color:yellow;
        }
        .caretFlash{
            height: 10px;
            top: 5px;
            width: 6px;
            position: relative;
            background-color: white;
            display: inline-block;
            animation: flash 500ms step-end infinite;
        }

        @keyframes flash {
            0% {
                background:white;
            }
            50% {
                background:none;
            }
        }
    .msgInfo{
        color:#00BFFF
    }
        .msgSuccess{
            color: #73ff67
        }
        .msgPrompt{
            color:#DB7093;
        }
        .msgFail{
            color:red;
        }
        .userInput{
            display:inline-block;margin-left:10px;
            color:yellow;
        }

        .spinner{margin:20% auto;width:40px;height:40px;position:relative}.cube1,.cube2{background-color:#fff;width:15px;height:15px;position:absolute;top:0;left:0;-webkit-animation:sk-cubemove 1.8s infinite ease-in-out;animation:sk-cubemove 1.8s infinite ease-in-out}.cube2{-webkit-animation-delay:-.9s;animation-delay:-.9s}@-webkit-keyframes sk-cubemove{25%{-webkit-transform:translateX(42px) rotate(-90deg) scale(0.5)}50%{-webkit-transform:translateX(42px) translateY(42px) rotate(-180deg)}75%{-webkit-transform:translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)}100%{-webkit-transform:rotate(-360deg)}}@keyframes sk-cubemove{25%{transform:translateX(42px) rotate(-90deg) scale(0.5);-webkit-transform:translateX(42px) rotate(-90deg) scale(0.5)}50%{transform:translateX(42px) translateY(42px) rotate(-179deg);-webkit-transform:translateX(42px) translateY(42px) rotate(-179deg)}50.1%{transform:translateX(42px) translateY(42px) rotate(-180deg);-webkit-transform:translateX(42px) translateY(42px) rotate(-180deg)}75%{transform:translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);-webkit-transform:translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)}100%{transform:rotate(-360deg);-webkit-transform:rotate(-360deg)}}.loadingScreen{background-color:#2980b9;position:fixed;z-index:99999;top:0;left:0;width:100%;height:100%}



    </style>
    <style id="custom_css">
      
    </style>
